body {

 
  margin: 0;
  font-family: 'Roboto','Helvetica Neue',sans-serif;

    background: #7494eb96;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #5c69a7, #588f85);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #7b8fe7, #3fceb4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.clima{
  background:#04709418;
  color: #4444;

}

.location-form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:5px;
  
}
.search{
  transition: .3s;
  width: 100%;
  min-width: auto;
  
}
.form-buscar{
  margin-right: 10px;
}

@media screen and (min-width:500px){
/*   .form-buscar:hover > .search {
    width: 300px!important;
  } */
 
  .form-buscar > .search {
    width: 400px!important;
  }
}